body{
  background-color: #b81414;
  font-family: sans-serif;
}
.nav {
list-style-type: none; /*Quitar puntitos*/
margin: 0;
margin-top: -8px;
margin-left: -10px;
margin-right: -8px;
padding: 0;
overflow: hidden; /*Rellenar*/
background-color: #333;
position: sticky; /*Bajar con el mouse*/
}

.pasar {
float: right; /*Alineacion de la barra de navegación*/
}

li a{
display: block; /*Divide por filas*/
color: white;
text-align: center;
margin: 21px;
text-decoration: none; /*Quita el formato*/
}

.nav :hover{
background-color: #111;
}

#activo {
background-color: red;
}
#activo :hover {
background-color: red;
}
#no {
background-color: #444;
}

.dropdown{
  
}


.logo {
margin-top: -150px;
width: 95%;
display: block; /*Divide por filas*/
margin-left: auto;  
margin-right: auto;  
}
.logoCab {
width: 7%; 
display: block; /*Divide por filas*/
margin-right: auto;  
margin-left: 10px;
}
#no :hover:not(.activo) {
background-color: #444;
}

/*Peliculas*/
.TablaPelis, .TdPelis{
border: 2px solid #b81414;
border-collapse:collapse;
color: black;
height: 35px;
}
.TdPelisPrime {
  color: black;
  height: 50px;
  border: 2px solid #b81414 ;
}
.TablaPelis{
  width: 1400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-color: white;
  border-radius: 10px; /* Agregar bordes redondeados a la tabla */
  overflow: hidden; /* Asegura que los bordes redondeados se apliquen correctamente */
}
.TdPelis, .TdPelisPrime{
  padding-left: 10px;
}
.TitTablaPelis{
  text-align: left;
  color: white;
}
.SepPelis{
  margin-top: 50px;
}